.sequence-node {
  position: relative;
}

.editLabel {
  position: absolute;
  top: -7px;
  right: 15px;
  font-size: 12px;
  visibility: hidden; /* Hide the icon initially */
  opacity: 0; /* Make it invisible */
  transition: opacity 0.2s ease-in-out; /* Smooth fade-in/out */
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.sequence-node:hover .editLabel {
  visibility: visible; /* Show the icon on hover */
  opacity: 1; /* Make it fully visible */
}

.closeLabel {
  position: absolute;
  top: -7px;
  right: 4px;
  font-size: 10px;
  visibility: hidden; /*Hide the icon initially*/
  opacity: 0;
  transition: opacity 0.2s ease-in-out; /* Smooth fade-in/out */
  cursor: pointer;
  height: 20px;
  width: 20px;
}

.sequence-node:hover .closeLabel {
  visibility: visible;
  opacity: 1; /* Make it fully visible */
}
